/* styles.css */
.App {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .task {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .task.completed {
    background-color: #f0f0f0;
    text-decoration: line-through;
  }
  
  .task > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task > div > button {
    margin-left: 10px;
  }
  .textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-bottom: 10px;

    padding: 10px;
    resize: vertical;
  }
  